*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background: linear-gradient(#d61c4e, #283461, #84299b );
}

.box{
    width: 40%;
    min-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 40px;
}

.newItem{
    position: relative;
    background-color: aliceblue;
    padding: 30px 25px;
    border-radius: 10px;

}


.newItem input{
    width: 70%;
    height: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 1px solid #d61c4e;
    padding: 10px;
    position: relative;
    border-radius: 10px;


}
.newItem input:focus{
    outline: none;
    border-color: #2a434d;

}


.newItem button{
    position: relative;
    float: right;
    width: 20%;
    height: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 10px;
    font-size: 17px;
    border: none;
    background-color: rgb(2, 135, 192);

}

#tag{
    background-color: aliceblue;
    padding: 30px 40px;
    border-radius: 10px;
    margin-top: 50px;
    position: relative;

}

.list{
    background-color: aliceblue;
    height: 50px;
    padding: 5px 10px;
    margin: 10px;
    display: flex;
    border: 1px solid #898aa6;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

}


.list span{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;

}

.list button {
    background-color: red;
    color: white;
    height: 100%;
    width: 70px;
    border-radius: 10px;
    border:  none;
    outline: none;
    cursor: pointer;
}

.comple{
    text-decoration: line-through;
}